
.padding-bottom-0{ padding-bottom:0; }
.margin-bottom-0{ margin-bottom:0; }

.bold{ font-weight:bold; }

/* HEADER */
#tight-nav .navbar-brand{
	height:104px;
	padding-top:4px;
}
#tight-nav .navbar-default .navbar-nav > li > a{
	padding:44px 16px 40px;
}

.header-v3 .navbar-default .navbar-nav > li > a
.30px 16px 26px

/* HOME PAGE */
.home-page .posts .dl-horizontal dd{
	margin-left:0;
}

/* ERROR PAGE */
.error-page .error-v1 span.error-v1-title{
	font-size:84px;
	line-height:90px;
}

.counters {
    color: #555;
    text-align: center;
	min-height: 180px;
}

.service-block-v1 {
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    padding: 45px 20px 20px;
    position: relative;
    text-align: center;
	min-height: 270px;
}

.panel-green > .panel-heading {
    background: none repeat scroll 0 0 #5FB611;
}

.panel-green {
    border-color: #5FB611;
}

.btn-u.btn-brd.btn-u-green {
    border-color: #5FB611;
}

.btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
   background: #5FB611;
}

/* CONTACT PAGE */
.contact-page .radio-group{
	overflow:hidden;
	position:relative;
}

.contact-page .placeafter em.invalid{
	color: #ee9393;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 2px;
    padding: 0 1px;
}

.contact-page .input-captcha #imgCaptcha{
	height:32px;
}

.contact-page .change-captcha-code{
	position:absolute;
	right:0;
}

.contact-page .change-captcha-code a{
	color:#00528f;
	font-weight:bold;
}

.contact-page-custom .ui-datepicker-calendar a,
.contact-page-custom .ui-datepicker-calendar span{
	width: 38px;
}

.contact-page-custom .ui-datepicker-title select{
	border:1px solid #bbb;
	-moz-appearance:none;
	margin-top:2px;
}